<div class="sheet">
	
	<!-- sidebar is 3-col wide -->
	<%= render partial: 'users/sidebar' %>
  
  <div class="flex-content">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">

        <%= form_for @profile, method: :post, url: user_profile_path(@user, @profile.id) do |f| %>
        
          <div class="text-center">
            <h1>Thank you!</h1>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :gender %>
                <%= f.select :gender, options_for_select([
                            ['', nil],
                            ['female', :female],
                            ['male', :male],
                            ['other', :other],
                            ['decline response', nil]
                          ]),
                		{}, {class: "form-control"} %>
              </div> <!-- close .form-group -->
            </div> <!-- close .col -->

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :age %>
                <%= f.number_field :age, in: 10..100, step: 1, class: 'form-control' %>
              </div> <!-- close .form-group -->
            </div> <!-- close .col -->
          </div> <!-- close .row -->

          <div class="row">
            <div class="col-xs-6">
		          <div class="form-group">
		            <%= f.label :ethnicity do %>
		              What is your race?
		            <% end %>
		            <%= f.select :ethnicity, options_for_select([
                            ['', nil], 
                            ['aboriginal', :aboriginal], 
                            ['asian', :asian], 
                            ['black', :black],
                            ['caucasian', :caucasian],
                            ['hispanic', :hispanic],
                            ['middle eastern', :middle_eastern],
                            ['other or mixed race', :other]
                          ]),
                    {}, {class: "form-control"} %>
		          </div> <!-- close .form-group -->
		        </div>

		       	<div class="col-xs-6">
		          <div class="form-group">
		            <%= f.label :country_of_origin %>
		            <%= f.country_select(:country_of_origin, {}, {class: "form-control"}) %>
		          </div> <!-- close .form-group -->
		        </div>
		      </div>

          <div class="form-group">
            <%= f.label :education %>
            <%= f.select :education, options_for_select([
            						['', nil], ['high school', :high_school],
                        ['post-secondary (college, university, or higher)', :post_secondary],
            						['technical or professional certification', :technical],
                        ['decline response', nil]
            					]),
            		{}, {class: "form-control"} %>
          </div> <!-- close .form-group -->

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :purpose %>
                <%= f.select :education, options_for_select([
                        ['', nil], 
                        ['event participant', :event_participant], 
                        ['event organizer', :event_organizer],
                        ['venue owner', :venue_owner], 
                        ['multiple', :multiple], 
                        ['decline response', nil]
                      ]),
                {}, {class: "form-control"} %>
              </div> <!-- close .form-group -->
            </div> <!-- close .col -->

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :astrology %>
                <%= f.select :astrology, options_for_select([
                        ['', nil],
                        ['aries', :aries],
                        ['leo', :leo],
                        ['sagittarius', :sagittarius],
                        ['taurus', :taurus],
                        ['virgo', :virgo], 
                        ['capricorn', :capricorn],
                        ['gemini', :gemini],
                        ['libra', :libra],
                        ['aquarius', :aquarius],
                        ['cancer', :cancer],
                        ['scorpio', :scorpio],
                        ['pisces', :pisces],
                        ['decline response', nil]
                      ]),
                {}, {class: "form-control"} %>
              </div> <!-- close .form-group -->
            </div> <!-- close .col -->

          </div>

          <%= f.submit 'Update', class: 'btn btn-outline btn-default btn-block-level' %>
        <% end %>

      </div> <!-- close .row -->
    </div>
  </div> <!-- close .flex-content -->

</div>
