<% set_page_title "Login" %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

    <h2>Login</h2>
    <div class="form">
	  <%= form_for :session, url: login_path do |f| %>

	    <div class="form-group">
	      <%= f.label :email do %>
	        Email address
	      <% end %>
	      <%= f.email_field :email, class: 'form-control', autofocus: true %>
	    </div> <!-- close .form-group -->

	    <div class="form-group">
	      <%= f.label :password do %>
	        Password
	      <% end %>
	      <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
	    </div> <!-- close .form-group -->

	    <div class="checkbox">
	      <%= f.label :remember_me do %>
	        <%= f.check_box :remember_me %> 
	        Remember me
	      <% end %>
	    </div> <!-- close .form-group -->

	    <div class="form-group">
	      <%= f.submit "Login", class: 'btn btn-block-level btn-outline' %>
	    </div> <!-- close .form-group -->
	  <% end %>
		</div> <!-- close .form -->

  </div> <!-- close .col -->
</div> <!-- close .row -->

<div class="row text-center">
  <%= link_to 'Home', root_path %>
</div> <!-- close .text-center -->
