<div class="card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <%= link_to "Delete", user_venue_remove_photo_path(@user, @venue.id, photo.id), method: :delete, class: "ui inverted red button" %>
        </div>
      </div>
    </div>
    <%= (image_tag photo.image_file_name_url) if photo.image_file_name? %>
  </div>
</div>
