<table class="table table-hover">
	<% @user.events.each do |event| %>
	<tr>
		<th> <%= link_to event.title, event%> </th>
		<th> <%= link_to "Edit", user_event_manage_path(@user, event.id, "basics"), class: "btn btn-primary",style: "float: right;"  %> </th>
		<th> <%= link_to "Delete",  user_event_path(@user, event), method: :delete, data: 
						{confirm: "Are you sure you want to delete this event?" }, class: "btn btn-primary ", style: "float: right;" %> </th>
	</tr>
	<% end %>
</table>
