<div class="col-sm-3 sidebar">

  <div class="sheet sheet-column">
  <div class="row">
  <div class="nav nav-sidebar">
    <div class="text-center">
      <%= image_tag (current_user.profile_picture), class: 'img-thumbnail img-circle', size: '100' %>
      <h3> <%= current_user.full_name %> </h3>
    </div>
    <li>
      <a href="<%= user_path(current_user) %>" class="<%= 'active' if request.fullpath == user_path(current_user) %>">
        <span class="">Home</span>
      </a> 
    </li>
    <li>
      <a href="<%= user_events_path(current_user) %>" class="<%= 'active' if request.fullpath == user_events_path(current_user) %>">
        <span>My Events</span>
        <span class="pull-right label label-warning"> <%= @user.events.count %> </span>
      </a> 
    </li>
    <li>
      <a href="<%= user_venues_path(current_user) %>" class="<%= 'active' if request.fullpath == user_venues_path(current_user) %>">
        <span>My Venues</span>
        <span class="pull-right label label-warning"> <%= @user.venues.count %> </span>
      </a> 
    </li>
  </div>
  </div>
  <!-- @TODO add sticky-bottom if the user has not completed their demographics profile -->
  <div class="nag">
    <h5>Make PlaceCard better by adding more personal information.</h5>
    <%= link_to "Tell us more", user_profile_path(current_user), class: 'btn btn-warning' %>
  </div>
  </div>

</div>
