<div class="sheet">

  <%= render partial: 'sidebar' %>
  
  <div class="flex-content">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">

        <%= form_for @user do |f| %>
        
          <div class="text-center">
            <h1><%= @user.first_name + " " + @user.last_name %></h1>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: 'form-control' %>
              </div> <!-- close .form-group -->
            </div> <!-- close .col -->

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: 'form-control' %>
              </div> <!-- close .form-group -->
            </div> <!-- close .col -->
          </div> <!-- close .row -->

          <div class="form-group">
            <%= f.label :email do %>
              Email address
            <% end %>
            <%= f.email_field :email, class: 'form-control' %>
          </div> <!-- close .form-group -->

          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>
          </div> <!-- close .form-group -->

          <div class="form-group">
            <%= f.submit 'Update', class: 'btn btn-outline btn-default btn-block-level' %>

            <%= fields_for @user.photos, method: :post do |p| %>
              <span class="btn btn-outline btn-default fileinput-button">
                <span class="glyphicon glyphicon-camera"></span>
                <span>Change profile</span>
                <%= p.file_field "photo", multiple: false, id: "jq_photo" %>
              </span>
            <% end %>
          </div>

        <% end %>

      </div> <!-- close .row -->
    </div>
  </div>

</div>