<% set_page_title "Sign up" %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

    <h2 class="text-center">Already joined? <%= link_to "Login", login_path %></h2>
    <div class="form">
      <%= form_for @user, validate: true do |f| %>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            </div> <!-- close .form-group -->
          </div> <!-- close .col -->

          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div> <!-- close .form-group -->
          </div> <!-- close .col -->
        </div> <!-- close .row -->

        <div class="form-group">
          <%= f.label :email do %>
            Email address
          <% end %>

          <%= f.email_field :email, class: 'form-control' %>
        </div> <!-- close .form-group -->

        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div> <!-- close .form-group -->

        <div class="form-group">
          <%= f.label :password do %>
            Password <span class="text-secondary">(min. 6 char)</span>
          <% end %>
          
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div> <!-- close .form-group -->

        <div class="form-group">
        	<%= f.label :password_confirmation do %>
        		Password confirmation
        	<% end %>
        	<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign up", class: 'btn btn-outline btn-block-level' %>
        </div> <!-- close .form-group -->
      <% end %>
    </div> <!-- close .form -->

  </div> <!-- close .col -->
</div> <!-- close .row -->

<div class="row text-center">
  <%= link_to 'Home', root_path %>
</div> <!-- close .text-center -->
