<div class="sheet">
	
	<!-- sidebar is 3-col wide -->
	<%= render partial: 'sidebar' %>

	<!-- yield content once this is a layout -->
	<div class="flex-content">
		<div class="sheet sheet-column">

			<div class="panel panel-default">
				<div class="panel-heading">
				 	Pending invitations &amp; upcoming events
				</div>
				<table class="table table-hover">
					<% @upcoming_atts.each do |upcoming| %>
						<tr>
							<th><%= link_to upcoming.event.title, upcoming.event %></th>
							<td><%= link_to "Going", user_rsvp_path(@user.username, upcoming.id, rsvp: :attending), method: 'post',
															 class: "label label-default #{'label-success' if upcoming.rsvp == 'attending' }" %></td>
							<td><%= link_to "Not going", user_rsvp_path(@user.username, upcoming.id, rsvp: :not_attending), method: 'post',
															 class: "label label-default #{'label-warning' if upcoming.rsvp == 'not_attending' }" %></td>
							<td><%= link_to "Maybe", user_rsvp_path(@user.username, upcoming.id, rsvp: :unsure), method: 'post',
															 class: "label label-default #{'label-info' if upcoming.rsvp == 'unsure' }" %></td>
						</tr>
					<% end %>
					<% if !@upcoming_atts.any? %>
						<tr>
							<th> <a>You don't have any upcoming events.</a> </th>
							<td> <%= link_to "Create one?", new_user_event_path(@user.username), class: 'label btn-primary' %> </td>
						</tr>
					<% end %>
				</table>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
				 	Past events
				</div>
				<table class="table table-hover">
					<% @past_atts.each do |past| %>
						<tr>
							<th><%= link_to past.event.title, past.event %></th>
							<th><%= %></th>
							<th><%= %></th>
						</tr>
					<% end %>
					<% if !@past_atts.any? %>
						<tr>
							<td> No past events to show at this time. </td>
						</tr>
					<% end %>
				</table>
			</div>

		</div>
	</div>

</div>
