<div class="container" id="flashes">
	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %> alert-dismissable fade in">
	    <%= content_tag(:span, value) %>
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  </div> <!-- close .alert -->
	<% end %>
</div>
