<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
  <% if content_for?(:page_title) %>    
    <%= yield(:page_title) %>
  <% else %>
    PlaceCard
  <% end %>
</title>

<meta name="description" content="
  <% if content_for?(:page_description) %>
    <%= yield(:page_description) %>
  <% else %>
    Find the right venue for your event. Organize your wedding, conference, party, or workshop, and easily communicate with guests - totally free.
  <% end %>
">
<meta name="author" content="Saige McVea, Gabriela Stefanini, Kathryn Taylor, Zili Zhang">
<%= csrf_meta_tags %>
<%= action_cable_meta_tag %>
<%= favicon_link_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
