<!-- Navigation -->
<nav class="navbar" id="placecard-nav">
	<div class="container-fluid">
		
		<div class="navbar-header navbar-img" >
			<a id="brand" href="<%= root_path %>">
				<% if controller_name == 'pages' && action_name == 'index' %>
					<%= image_tag "logo_alt.png", height: "100%", alt: "PlaceCard" %>
				<% else %>
					<%= image_tag "icon.png", height: "100%", alt: "PlaceCard" %>
				<% end %>
			</a>
		</div>
		
		<% unless controller_name == 'pages' && action_name == 'index' %>
			<%= form_tag url_for(controller: "venues", action: "public_index"), method: "get", class: "navbar-form navbar-left" do %>
				<%= text_field_tag :search, params[:search], class: "form-control search", placeholder: "Search for a venue" %>
			<% end %>
		<% end %>

		<!-- @TODO Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">

				<% if logged_in? %>

					<li> <%= link_to "List a venue", new_user_venue_path(@current_user), class: "btn btn-outline navbar-btn" %> </li>
					<li> <%= link_to "Create an event", new_user_event_path(@current_user), class: "btn btn-outline navbar-btn" %> </li>
					<li>
						<div class="btn btn-outline navbar-btn <%= 'btn-success' if current_user.event_feedbacks.any? %>" id="quick-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						</div>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="quick-links" id="feedback">
							<%= render partial: 'feedbacks/event_feedback', collection: current_user.event_feedbacks, as: :event_feedback %>
							<% if !current_user.event_feedbacks.any? %>
		          	<li> <a>No reviews at this time.</a> </li>
		          <% end %>
		        </ul>
					</li>
					<li>
						<div class="btn btn-outline navbar-btn <%= 'btn-warning' if current_user.unread_notifications? %>" id="notifs-dropdown" 
							 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
						</div>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notifs-dropdown" id="notifications">
							<%= render current_user.notifications.reverse %>
		          <% if !current_user.unread_notifications? %>
		          	<li> <a>Up to date!</a> </li>
		          <% end %>
		        </ul>
					</li>
					<li>
						<div class="navbar-img" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div id="avatar">
								<%= image_tag (current_user.profile_picture), class: 'gravatar' %>
							</div>
						</div>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown" id="account">
		          <li> <%= link_to "Dashboard", user_path(@current_user) %> </li>
		          <li> <%= link_to "Account", edit_user_path(@current_user) %> </li>
		          <li> <%= link_to "Logout", logout_path(@current_user), method: :delete %> </li>
		        </ul> <!-- close .btn dropdown menu -->
		      </li>

				<% else %>

					<li> <%= link_to "Browse venues", public_venues_path, class: "btn btn-outline navbar-btn" %> </li>
					<li> <%= link_to "Login", login_path, class: "btn btn-outline navbar-btn" %> </li>
					<li> <%= link_to "Sign up", join_path, class: "btn btn-outline navbar-btn btn-primary" %> </li>

				<% end %>
			</ul>
		</div>
	</div> <!-- close .container-fluid -->
</nav>
