<%= render layout: 'form'  do |f| %>

  <div class="flex-content sheet sheet-column">
    <div class="form-group">
      <%= f.label :title do %>
        What is your event called?
      <% end %>
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div> <!-- close .form-group -->

    <div class="form-group">
      <%= f.label :description do %>
        Write a short description for your guests
      <% end %>
      <%= f.text_area :description, class: 'form-control' %>
    </div> <!-- close .form-group -->

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :start_time %>
          <small class="pull-right"> <%= @event.start_time.to_formatted_s(:long) if @event.start_time %> </small>
          <div class='input-group date' id='datetimepicker-start'>
            <%= f.text_field :start_time, class: 'form-control' %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div> <!-- close .form-group -->
      </div> <!-- close .col -->
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :end_time %>
          <small class="pull-right"> <%= @event.end_time.to_formatted_s(:long) if @event.end_time %> </small>
          <div class='input-group date' id='datetimepicker-end'>
            <%= f.text_field :end_time, class: 'form-control' %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div> <!-- close .form-group -->
      </div> <!-- close .col -->
    </div> <!-- close .row -->

    <div class="checkbox">
      <%= f.label :is_public do %>
        <%= f.check_box :is_public %> 
        My event is public <span class="label">warning</span>
      <% end %>
    </div> <!-- close .form-group -->

    <div class="form-group">
      <%= f.submit "Update", class: 'btn btn-outline btn-success btn-block-level' %>
      <%= link_to "Continue", user_event_manage_path(current_user, @event.id, @next_step), class: 'btn btn-outline btn-default' %>
    </div> <!-- close .form-group -->

  </div>

<% end %>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker-start').datetimepicker(
        { 
          widgetPositioning: { vertical: 'bottom' }
        }
      );
  });
  $(function () {
      $('#datetimepicker-end').datetimepicker(
        { 
          widgetPositioning: { vertical: 'bottom' }
        }
      );
  });
</script>
