<div class="form">
	<%= form_for @event, method: :patch, url: user_event_path(current_user, @event.id, step: @step) do |f| %>
	  <% yield f %>
	<% end %>
</div> <!-- close .form -->

<div class="row text-center">
  <%= link_to 'Cancel', user_path(current_user) %>
</div> <!-- close .text-center -->
