<%= set_page_title "#{@event.title}" %>

<div class="flex-content sheet sheet-column">
	<div class="row">
		<div class="col-sm-8">

			<% if @event.invites.where(sent_at: nil).any? %>

				<h4>Pending invitations to your event: <%= @event.invites.where(sent_at: nil).count %> </h4>
				<%= link_to "Send now", user_event_send_invites_path(params[:user_username], @event.id), method: :post, class: "btn btn-outline btn-default" %>
				
				<div class="panel panel-default" id="email-panel">
					<div class="panel-body">
						<% @event.invites.where(sent_at: nil).each do |invite| %>
							<h6>
								<%= invite.email %>
								<%= link_to user_event_remove_guest_path(current_user, @event, invite.id), method: :delete, class: 'pull-right' do %>
									<span class="glyphicon glyphicon-remove"></span>
								<% end %>
							</h6>
						<% end %>
					</div>
				</div>

			<% else %>
				<p>You've invited <%= @event.invites.count %> guests so far and have no pending invitations.</p>
			<% end %>

			<%= form_for @event, method: :post, url: user_event_add_guests_path(current_user, @event.id) do |f| %>
				<div class="form-group">
			    <%= f.label :invites, "Add guests" do %>
			      Add guests
			    <% end %>
			    <small>(please enter a comma-separated list of email addresses below)</small>
			    <%= fields_for Invite.new do |i| %>
			    	<%= i.text_field :email, name: "invites[email]", class: "form-control" %>
			    <% end %>
			  </div> <!-- close .form-group -->

			  <div class="form-group">
			    <span class="btn btn-outline btn-default fileinput-button">
			      <i class="icon-plus icon-white"></i>
			      <span><span class="glyphicon glyphicon-paperclip"></span> Upload guest-list</span>
			      <%= f.file_field :csv_file %>
			    </span>
			  </div>

			  <div class="form-group">
			    <%= f.submit "Update", class: 'btn btn-outline btn-success btn-block-level' %>
			    <%= link_to "Continue", user_event_manage_path(current_user, @event.id, @next_step), class: 'btn btn-outline btn-default' %>
			  </div> <!-- close .form-group -->

			<% end %>

		</div>
	</div>
</div>
