<div class="flex-content sheet sheet-column">
	<div class="row">

		<% if @venue = @event.venue %>	
			
			<div class="col-sm-6">
				Your event will take place at:
				<%= link_to venue_path(@venue.id) do %>
					<h4> <%= @venue.name %> </h4>
				<% end %>

				<% if @venue.photos.any? %>
					<h4>Pictures of the venue:</h4>
					<div class="row">
						<%= render partial: 'photos/venue_thumbnail', collection: @event.venue.photos, as: :photo %>
					</div>
				<% else %>
					<div class="row">
						<div class="col-sm-4">
						  <div class="thumbnail">
						    <%= image_tag "placeholder.png", class: 'img-responsive' %>
						  </div>
						</div>
					</div>
				<% end %>
				<%= link_to "Change venues", user_event_remove_venue_path(@event.user, @event, @venue), class: 'btn btn-outline btn-default', method: :delete %>
				<%= link_to "Complete", event_path(@event), class: 'btn btn-outline btn-success' %>
			</div>

			<div class="col-md-6">
				<%= map(:center => {
			    :latlng => [@venue.latitude, @venue.longitude],
			    :zoom => 15 },
			    :markers => [{
		    		:latlng => [@venue.latitude, @venue.longitude],
		    	}]) %>
		  </div>
				
		<% else %>

			<div class="alert alert-info fade in">
		    You haven't selected a venue yet!
		    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
		  </div> <!-- close .flash -->

			<h3>Based on the information you entered, we recommend the following spaces.</h3>

			<div class="row">
				<%= render partial: 'photos/recommendation', collection: @event.venue_recs(remote_ip()), as: :venue %>
			</div>

			<p>We use data entered for your event to generate these recommendations. You can improve the results by completing empty fields.</p>
			<h4>Not what you were looking for? Maybe these will work</h4>

			<div class="row">
				<%= render partial: 'photos/recommendation', collection: Venue.all - @event.venue_recs(remote_ip()), as: :venue %>
			</div>

		<% end %>
	</div>

</div>
