<div class="nav navbar-btns">
	<%= link_to "basics", user_event_manage_path(@user, @event, "basics"), 
							class: "btn btn-xs btn-outline #{'btn-warning' if @step == 'basics'}" %>
	<%= link_to "guests", user_event_manage_path(@user, @event, "guests"), 
							class: "btn btn-xs btn-outline #{'btn-warning' if @step == 'guests'}" %>
	<%= link_to "venue", user_event_manage_path(@user, @event, "location"), 
							class: "btn btn-xs btn-outline #{'btn-warning' if @step == 'location'}" %>
</div>
