<% set_page_title "#{@user.full_name}'s events" %>

<div class="sheet">

	<% if params[:user_username] %>
		<%= render partial: 'users/sidebar' %>
	<% end %>

	<div class="col-sm-9 flex-content sheet sheet-column">
		<% if @events.any? %>
			<div class="row">
				<%= render partial: 'photos/user_event_index', collection: @events, as: :event %>
			</div>
		<% else %>
			<div class="row">
				<%= render partial: 'photos/dummy_event' %>
			</div>
		<% end %>
	</div>
	
</div>
