<% set_page_title "Edit #{params[:step]} for #{@event.title}" %>

<div class="sheet">
	<%= render partial: 'users/sidebar' %>

	<div class="col-sm-9 flex-content sheet sheet-column">
		<%= render partial: 'events/management_nav' %>
		<!-- declare column width for each step * within * the partial -->
	  <%= render partial: "#{@step}" %>
  </div>

</div>
