<% set_page_title "New Event" %>

<div class="container-fluid form-header">
  <div class="page-header text-center">
    <h2>Create an event</h2>
    <span class="sub">PlaceCard handles event invitations, communication, and planning.</span>
  </div>
</div>

<div class="container padded-container">

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

      <div class="form">
        <%= form_for @event, url: user_events_path, validate: true do |f| %>

        	<div class="form-group">
            <%= f.label :title do %>
              What is your event called?
            <% end %>
            <%= f.text_field :title, autofocus: true, class: 'form-control' %>
          </div> <!-- close .form-group -->


          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :start_time %>
                <div class='input-group date' id='datetimepicker-start'>
                  <%= f.text_field :start_time, class: 'form-control' %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div> <!-- close .form-group -->
            </div> <!-- close .col -->
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :end_time %>
                <div class='input-group date' id='datetimepicker-end'>
                  <%= f.text_field :end_time, class: 'form-control' %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div> <!-- close .form-group -->
            </div> <!-- close .col -->
          </div> <!-- close .row -->

          <div class="form-group">
            <%= f.label :description do %>
              Write a short description for your guests
            <% end %>
            <%= f.text_area :description, class: 'form-control' %>
          </div> <!-- close .form-group -->

          <div class="checkbox">
    	      <%= f.label :is_public do %>
    	        <%= f.check_box :is_public %> 
    	        My event is public <span class="label">warning</span>
    	      <% end %>
    	    </div> <!-- close .form-group -->

          <div class="form-group">
            <%= f.submit "Create!", class: 'btn btn-primary btn-block-level' %>
          </div> <!-- close .form-group -->
        <% end %>
      </div> <!-- close .form -->

    </div> <!-- close .col -->
  </div> <!-- close .row -->

  <div class="row text-center">
    <%= link_to 'Cancel', user_path(@current_user) %>
  </div> <!-- close .text-center -->
</div>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker-start').datetimepicker(
        { 
          widgetPositioning: { vertical: 'bottom' }
        }
      );
  });
  $(function () {
      $('#datetimepicker-end').datetimepicker(
        { 
          widgetPositioning: { vertical: 'bottom' }
        }
      );
  });
</script>
