<% set_page_title "#{@user.full_name}'s events" %>

<div class="sheet">

	<div class="col-sm-9 flex-content sheet sheet-column">
		<% if @events.any? %>
			<div class="row">
				<%= render partial: 'photos/event_index_result', collection: @events, as: :event %>
			</div>
		<% end %>
	</div>
	
</div>
