<%= set_page_title "#{@event.title}" %>

<div class="sheet">

	<div class="col-sm-3 sidebar">

	  <div class="sheet sheet-column">
		  <div class="row">
			  <div class="nav nav-sidebar">
			    
			    <div class="text-center">
			      <%= image_tag (@event.display_image), class: 'img-thumbnail', size: '100' %>
			      <h3> <%= @event.title %> </h3>
			      <p> <%= @event.description %> </p>
			    </div>
			    <li>
			    	<a>
			    		<span>Total invited</span>
			        <span class="pull-right label label-warning"> <%= @event.invites.count %> </span>
			    	</a>
			    </li>
			    <li>
			      <a>
			        <span>Total that have seen invitation</span>
			        <span class="pull-right label label-warning"> <%= @event.attendances.count %> </span>
			      </a> 
			    </li>
			    <li>
			      <a>
			        <span>Total confirmed attending</span>
			        <span class="pull-right label label-warning"> <%= @event.attendees.count %> </span>
			      </a> 
			    </li>
			    <div class="panel panel-default" style="margin: 20px;">
			    	<div class="panel-body">
				    	<% if @event.venue %>
				    		<h4> <%= @event.venue.name %> </h4>
				    	<% else %>
				    		<h5>Location TBD</h5>
				    	<% end %>
				    	<p> <i><%= @event.start_time.to_formatted_s(:long) if @event.start_time %></i> </p>
				    	<p> to <i><%= @event.end_time.to_formatted_s(:long) if @event.end_time %></i> </p>
				    	<p> organized by <%= @event.user.full_name  %> </p>
			    	</div>
			    </div>

			  </div>
		  </div>

		</div>
	</div>

	<div class="col-sm-9 flex-content sheet sheet-column">
		<div class="row">
			<div class="col-md-4">
				<%= render 'posts/form' %>
			</div>
			<% if @event.posts.any? %>
				<%= render partial: 'posts/card', collection: @event.posts(true), as: :post %>
			<% end %>
		</div>
	</div>

</div> <!-- close .sheet -->
