<% set_page_title "Data for #{@event.title}" %>

<div class="sheet">
	<%= render partial: 'stats_sidebar' %>

	<div class="col-sm-11 flex-content sheet sheet-column">
		
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Guests' gender</div>
					<div class="panel-body">
						<%= pie_chart @event.guest_profiles.group(:gender).count %>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Guests' age</div>
					<div class="panel-body">
						<%= column_chart @event.guest_profiles.group(:age).count %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Guests' country of origin</div>
					<div class="panel-body">
						<%= geo_chart @event.guest_profiles.group(:country_of_origin).count %>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Guests' ethnicity</div>
					<div class="panel-body">
						<%= pie_chart @event.guest_profiles.group(:ethnicity).count %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Post frequency</div>
					<div class="panel-body">
						<%= line_chart Post.unscoped.where(event_id: @event.id).group_by_hour(:created_at, format: "%k").count %>
					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Posts by astrological sign</div>
					<div class="panel-body">
						<%= column_chart @event.guest_profiles.group(:astrology).count %>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
