<% set_page_title "Home" %>

<div class="placecard-hero" aria-hidden="true">

  <div class="padded-container">
    <div class="hero-content">
      <div class="text-center">
        <h1 class="hero-title">Relax, we've got you covered.</h1>
        <h4 class="hero-subtitle">find the perfect space for your event – big or small</h4>
        <div class="button-set">
          <%= link_to "Browse venues", public_venues_path, class: "btn btn-lg btn-primary " %>
        </div>
      </div>
    </div>
  </div>

  <div class="padded-container" id="hero-search">
    <div class="container">
      <%= form_tag url_for(controller: "venues", action: "public_index"), method: "get" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Where do you need a venue?", id: "location" %>
          <%= text_field_tag :guests, params[:guests], class: "form-control", placeholder: "How many people?", id: "guests" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class: 'btn btn-default' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

</div>

<section class="sheet">
  <div class="padded-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <h3>Reclaim your daily agenda
        <hr>
        <small class="lead">It's easy to get lost in the mayhem of venue selection, guest invitations, and all the pre-event hype. Let us do the heavy lifting so you can focus on what's most important.</small></h3>
      </div>
    </div>
  </div>
</section>

<section class="sheet sheet-white padded-container" id="info">
  <div class="container">
    <!-- <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="sectio">Two guests or two thousand? <br>
        <small>(Hint – it doesn't matter)</small></h2>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4 feature">
        <span class="feature-icon glyphicon glyphicon-time"></span>
        <div class="panel-body">
          <h4>Always on time</h4>
          <p class="text-muted">You decide when your event begins, when your event ends, when your invitations get sent, and for how long guests can see the event page once it's over. Timers are set up for reviews and feedback.</p>
        </div>
      </div>
      <div class="col-md-4 feature">
        <span class="feature-icon glyphicon glyphicon-envelope"></span>
        <div class="panel-body">
          <h4>Impeccably mannered</h4>
          <p class="text-muted">Did you forget to invite your brother's ex-girlfriend's sister-in-law's uncle again? No problem. Send invitations at any point prior to the event and stay up-to-date on who has responded through clear RSVPs if your guests sign up too.</p>
        </div>
      </div>
      <div class="col-md-4 feature">
        <span class="feature-icon glyphicon glyphicon-heart-empty"></span>
        <div class="panel-body">
          <h4>Sharing the love</h4>
          <p class="text-muted">Find out if event your attendees left as happily as you think they did. With anonymous feedback both for the event and the venue, you can identify what went well or what could be improved.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 feature">
        <span class="feature-icon glyphicon glyphicon-leaf"></span>
        <div class="panel-body">
          <h4>Helping the earth</h4>
          <p class="text-muted">Why spend hours driving only to cross the venue off your list because it doesn't have what you need? With PlaceCard, you can check ammenities and photos without moving a muscle - saving you time and making the grass just a little greener.</p>
        </div>
      </div>
      <div class="col-md-4 feature">
        <span class="feature-icon glyphicon glyphicon-education"></span>
        <div class="panel-body">
          <h4>Educated and informed</h4>
          <p class="text-muted">Get clear demographics on the people that attended your event or your venue. We'll be improving this feature as time goes on to give you better insights on just what crowd was the most impressed.</p>
        </div>
      </div>
      <div class="col-md-4 feature">
        <span class="feature-icon glyphicon glyphicon-fire"></span>
        <div class="panel-body">
          <h4>Gaining traction</h4>
          <p class="text-muted">Book more events with less effort. As a venue owner, your space will have its own detailed listing to accurately describe just what services are offered. This means less dead-end inquiries, more traffic, and more revenue (with no extra costs).</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sheet">
  <div class="padded-container">    
    <div class="flex-content row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <blockquote>
          <p>PlaceCard helped me manage my work load to avoid burning out. I dodged a great deal of stress by keeping all of my organizational concerns on one platform.</p>
          <footer>Jonathan Smith, managing director at <cite>Notareel Corporation</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class="padded-container" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <small>PlaceCard is a Ruby on Rails application created by <a>Saige</a>, <a>Gabi</a>, <a>Kathryn</a>, and <a>Zili</a> for Comp 361.</small>
      </div>
    </div>
  </div>
</section>
