<div class="sheet sheet-row">

  <div class="col-sm-6">
    <%= form_tag action: 'update_tags', method: 'post' do %>

      <h4>Please tell us more about your venue</h4>

      <div class="form-group">
        <label>What kind of space are you listing?</label>
        <% @types.each do |type| %>
          <div class="radio">
            <label>
              <%= radio_button_tag :venue_type, type.id %>
              <%= type.name.titleize %>
            </label>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <label>How accessible is your space?</label>
        <div class="checkbox">
          <label>
            <%= check_box_tag "venue_features[]", :wheelchair_accessible %> It's wheelchair accessible.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag "venue_features[]", :restrooms %> It has clean washrooms for all genders.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag "venue_features[]", :catering %> It offers a variety of catering options.
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>What other perks does your venue have?</label>
        <div class="checkbox">
          <label>
            <%= check_box_tag "venue_features[]", :kitchen_dining %> It has a full kitchen and dining space.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag "venue_features[]", :performances %> It's suitable for performances.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag "venue_features[]", :security %> It has 24-hour security.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag "venue_features[]", :licensed_bar %> It has a licensed bar.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= check_box_tag "venue_features[]", :onsite_cleaning %> There are janitors on-site.
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= submit_tag "Save changes", class: 'btn btn-outline btn-default btn-block-level' %>
        <%= link_to "Complete", venue_path(@venue), class: 'btn btn-outline btn-success' %>
      </div> <!-- close .field -->

    <% end %>

  </div>

  <div class="col-sm-6">
    <% if @venue.tags.any? %>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Current tags: </p>
          <% @venue.tags.each do |tag| %>
            <span class="label label-primary" id="tag"> <%= tag.name.humanize %> </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
