<%= render layout: 'form'  do |f| %>

  <div class="flex-content sheet sheet-column">

    <div class="form-group">
      <%= f.label :name, "Venue name" %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div> <!-- close .field -->

    <div class="form-group">
      <%= f.label :description, "Please include a brief description of the venue." %>
      <%= f.text_area :description, class: 'form-control' %>
    </div> <!-- close .form-group -->

    <div class="form-group">
      <div class="row">
        <div class="col-sm-7">
          <%= f.label :website %>
          <%= f.text_field :website, class: 'form-control' %>
        </div>
        <div class="col-sm-5">
          <%= f.label :capacity %>
          <%= f.text_field :capacity, class: 'form-control' %>
        </div>
      </div>
    </div> <!-- close .form-group -->

    <div class="form-group">
      <%= f.submit "Save changes", class: 'btn btn-outline btn-success btn-block-level' %>
      <%= link_to "Continue", user_venue_manage_path(current_user, @venue.id, @next_step), class: 'btn btn-outline btn-default' %>
    </div> <!-- close .form-group -->


  </div>

<% end %>
