<%= form_for @venue, method: :patch, url: user_venue_path(current_user, @venue.id, step: @step) do |f| %>
  <% yield f %>
<% end %>

<div class="row text-center">
  <%= link_to 'Cancel', user_path(current_user) %>
</div> <!-- close .text-center -->
