<div class="sheet sheet-row">
  <div class="col-md-6">
    
    <h4> <%= @venue.name %> </h4>
    <%= form_for @venue, method: :patch, url: user_venue_path(current_user, @venue.id, step: @step) do |f| %>
      
      <%= f.label :city, "So, where is it?" %>
      <div class="radio">
        <label>
          <%= f.radio_button :city, "Vancouver, BC", class: "" %>
          Vancouver
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :city, "Toronto, ON", class: "" %>
          Toronto
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :city, "Montreal, QC", class: "" %>
          Montreal
        </label>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <%= f.label :suite_no, "Suite" %>
            <%= f.text_field :suite_no, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="form-group">
            <%= f.label :street, "Street address" %>
            <%= f.text_field :street, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= submit_tag "Save changes", class: 'btn btn-outline btn-success btn-block-level' %>
        <%= link_to "Continue", user_venue_manage_path(current_user, @venue.id, @next_step), class: 'btn btn-outline btn-default' %>
      </div> <!-- close .form-group -->

    <% end %>

    <div class="row text-center">
      <%= link_to 'Cancel', user_path(current_user) %>
    </div> <!-- close .text-center -->

  </div>

  <div class="col-md-6">
    <%= map(:center => {
          :latlng => [@venue.latitude, @venue.longitude],
          :zoom => 15 },
          :markers => [{
            :latlng => [@venue.latitude, @venue.longitude],
          }]
    ) %>
  </div>

</div>
