<div class="nav navbar-btns">
	<%= link_to "basics", user_venue_manage_path(@user, @venue, "basics"), 
							class: "btn btn-xs btn-outline btn-default #{'btn-warning' if @step == 'basics'}" %>
	<%= link_to "images", user_venue_manage_path(@user, @venue, "photos"), 
							class: "btn btn-xs btn-outline btn-default #{'btn-warning' if @step == 'photos'}" %>
	<%= link_to "location", user_venue_manage_path(@user, @venue, "location"), 
							class: "btn btn-xs btn-outline btn-default #{'btn-warning' if @step == 'location'}" %>
	<%= link_to "tags", user_venue_manage_path(@user, @venue, "amenities"), 
							class: "btn btn-xs btn-outline btn-default #{'btn-warning' if @step == 'amenities'}" %>
</div>
