<div class="flex-content sheet sheet-column">
	<div id="photos">
		<div class="row" id="js-photo-cards">
			<%= render partial: 'photos/venue_upload', collection: @venue.photos, as: :photo %>
		</div>
	</div>

	<% if @venue.photos.count > 5 %>
		<div class="alert alert-info">
			You can upload a maximum of 6 photos
		</div>
	<% else %>
		<%= form_for @venue, method: :post, url: user_venue_update_photos_path(current_user, @venue.id) do |f| %>

			<div class="form-group">
				<span class="btn btn-outline btn-success fileinput-button">
			    <span class="glyphicon glyphicon-paperclip"></span>
			    <span>Add files</span>
			    <%= f.file_field "photos", multiple: true, id: "jq_photo" %>
			  </span>
			  <%= link_to "Continue", user_venue_manage_path(current_user, @venue.id, @next_step), class: 'btn btn-outline btn-default' %>
			</div>

		<% end %>
	<% end %>

	<div class="row text-center">
	  <%= link_to 'Cancel', user_path(current_user) %>
	</div> <!-- close .text-center -->

</div>
