<div class="col-sm-1 sidebar">

  <div class="sheet sheet-column">
    <div class="row">
      <div class="nav nav-sidebar">
        <div class="text-center">
          <%= image_tag (current_user.profile_picture), class: 'img-thumbnail img-circle', size: '50' %>
          <h6 class="heading"> <%= @venue.name %> </h6>
        </div>
        <li></li>
        <li class="text-center">
          <a href="<%= user_path(current_user) %>" class="<%= 'active' if request.fullpath == user_path(current_user) %>">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <br>
            <small>Home</small>
          </a> 
        </li>
        <li class="text-center">
          <a href="<%= venue_path(@venue.id) %>" target="_blank">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            <br>
            <small>Venue</small>
          </a> 
        </li>
        <li class="text-center">
          <a href="<%= user_venues_path(current_user) %>">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <br>
            <small>Back</small>
          </a> 
        </li>
      </div>
    </div>
  </div>

</div>
