<% set_page_title "#{@user.full_name}'s venues" %>

<div class="sheet">

	<% if params[:user_username] %>
		<%= render partial: 'users/sidebar' %>
	<% end %>

	<div class="col-sm-9 flex-content sheet sheet-column">
		<% if @venues.any? %>
			<div class="row">
				<%= render partial: 'photos/user_venue_index', collection: @venues, as: :venue %>
			</div>
		<% else %>
			<div class="row">
				<%= render partial: 'photos/dummy_venue' %>
			</div>
		<% end %>

	</div>
</div>
