<% set_page_title "Edit #{params[:step]} for #{@venue.name}" %>

<div class="sheet">
	
	<!-- sidebar is 3-col wide -->
	<%= render partial: 'users/sidebar' %>

	<div class="col-sm-9 flex-content sheet sheet-column">	
		<%= render partial: 'venues/management_nav' %>
		<!-- declare column width for each step * within * the partial -->
		<%= render partial: "#{@step}" %>		
  </div>
</div>
