<% set_page_title "List your venue" %>

<div class="container-fluid form-header">
  <div class="page-header text-center">
    <h2>List your space</h2>
    <span class="sub">All venues on PlaceCard are publicly visible by default.</span>
  </div>
</div>

<div class="container padded-container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

      <div class="form">
        <%= form_for @venue, url: user_venues_path, validate: true do |f| %>

          <div class="form-group">
            <%= f.label :name do %>
              What is the name of your venue?
            <% end %>
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div> <!-- close .form-group -->

          <div class="form-group">
            <label> In what city is your venue located? </label> <br>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-info">
                <%= f.radio_button :city, "Vancouver, BC" %> Vancouver
              </label>
              <label class="btn btn-info">
                <%= f.radio_button(:city, "Toronto, ON") %> Toronto
              </label>
              <label class="btn btn-info">
                <%= f.radio_button(:city, "Montreal, QC") %> Montreal
              </label>
            </div>
          </div> <!-- close .form-group -->

          <div class="row">
            <div class="col-xs-2">
              <div class="form-group">
                <%= f.label :suite_no, "Suite" %>
                <%= f.text_field :suite_no, class: 'form-control' %>
              </div> <!-- close .form-group -->
            </div>
            <div class="col-xs-10">
              <div class="form-group">
                <%= f.label :street, "Street address" %>
                <%= f.text_field :street, class: 'form-control' %>
              </div> <!-- close .form-group -->
            </div>
          </div> <!-- close .row -->

          <div class="form-group">
            <%= f.label :capacity, "What is the maximum capacity of your venue?" %>
            <%= f.text_field :capacity, class: 'form-control' %>
          </div> <!-- close .form-group -->

          <div class="form-group">
            <%= f.label :website, "Does your venue have a website?" %>
            <%= f.text_field :website, class: 'form-control' %>
          </div> <!-- close .form-group -->

          <div class="form-group">
            <%= f.submit "Submit my space", class: 'btn btn-primary btn-block-level' %>
          </div> <!-- close .form-group -->
        <% end %>
      </div> <!-- close .form -->

    </div> <!-- close .col -->
  </div> <!-- close .row -->

  <div class="row text-center">
    <%= link_to 'Cancel', user_path(@current_user) %>
  </div> <!-- close .text-center -->
</div>
