<div class="sheet sheet-column">
	<div class="navbar nav-search form-header">
		<div class="flex-content container-fluid">
			<%= form_tag url_for(controller: "venues", action: "public_index"), method: "get", class: "navbar-form" do %>
				
				<div class="col-sm-4">
					<label>Limit my results to this type of venue.</label>
					<br>
					<% Tag.where(name: Tag::VENUE_TYPES).each do |type| %>
			            <label class="checkbox-inline">
			              <%= check_box_tag "category[]", type.name %>
			              <%= type.name.titleize %>
			            </label>
	       			<% end %>
	      </div>

	      <div class="col-sm-6">
	      	<label>Limit my results to venues with the following amenities.</label>
			<br>
			<% Tag.where(name: Tag::VENUE_FEATURES).each do |type| %>
			<div class="col-sm-4">
	            <label class="checkbox-inline">
	              <%= check_box_tag "tags[]", type.name %>
	              <%= type.name.titleize %>
	            </label>
            </div>
	        <% end %>
	      </div>

	      <%= hidden_field_tag :search, @previous_search %>

	      <div class="col-sm-2">
      		<%= submit_tag "Filter", class: "btn btn-primary" %>
      		<%= link_to "Reset", public_venues_path, class: "btn btn-warning" %>
	      </div>

			<% end %>

		</div>
	</div>

	<div class="flex-content sheet sheet-column">
		<% if @venues.any? %>
			<div class="row">
				<%= render partial: 'photos/venue_index_result', collection: @venues, as: :venue %>
			</div>
		<% end %>
	</div>
</div>
