<%= set_page_title "#{@venue.name}" %>

<div class="flex-content">
	<div class="col-md-11 sheet sheet-row">

		<div class="col-md-6">

			<h3> <%= @venue.name %> </h3>
			<hr>
			 <span class="glyphicon glyphicon-map-marker"></span> Address: <br><%= @venue.address %> <br>
			 <span class="glyphicon glyphicon-th"></span> Capacity: <%= @venue.capacity %> </li><br>
			 <span class="glyphicon glyphicon-globe"></span> Web: <a href="<%= @venue.website %>">external link</a>	

			<hr>
			<p> <%= @venue.description %> </p>
			<hr>
			<% if @photos.any? %>
				<h4>Pictures of the venue:</h4>
				<div class="row">
					<%= render partial: 'photos/venue_thumbnail', collection: @photos, as: :photo %>
				</div>
			<% end %>

		</div> <!-- col-md-6 -->

		<div class="col-md-6">
			<%= map(:center => {
		    :latlng => [@venue.latitude, @venue.longitude],
		    :zoom => 15 },
		    :markers => [{
	    		:latlng => [@venue.latitude, @venue.longitude],
	    	}]) %>
			
				<div class="text-center">
					<!-- The user came from their management page -->
		    	<% if current_user?(@venue.user) %>
		    		<h5>Just checking in?</h5>
		    		<%= link_to "See stats", user_venue_stats_path(current_user, params[:id], @venue.id),
		    								 class: 'btn btn-primary' %>
					<!-- The user came from their management page -->
		    	<% elsif current_user && params[:event_id] %>
		    		<h5>I'll take it.</h5>
		    		<%= link_to "Update my event", user_event_select_venue_path(current_user, params[:event_id], @venue.id), method: :post,
		    								 class: 'btn btn-primary' %>
		    	<!-- The user is logged in and browsing -->
		    	<% elsif current_user && params[:id] %>
		    		<h5>Sound good?</h5>
		    		<%= link_to "Use this space", new_user_event_path(current_user, params[:event_id], venue_id: @venue.id),
		    								 class: 'btn btn-primary' %>
		    	<!-- The user is not logged in -->
		    	<% else %>
	    			<h5>Want to use this space for your event?</h5>
	    			<%= link_to "Sign up", join_path, class: 'btn btn-primary' %>
		    	<% end %>
		    </div> <!-- close .text-center -->
		</div> <!-- close .col-md-6 -->
	</div>

</div>
