<% set_page_title "Data for #{@venue.name}" %>

<div class="sheet">
	<%= render partial: 'stats_sidebar' %>

	<div class="col-sm-11 flex-content sheet sheet-column">	
		
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Are they public events?</div>
					<div class="panel-body">
						<%= pie_chart @venue.events.group(:is_public).count %>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Event frequency by month</div>
					<div class="panel-body">
						<%= column_chart @venue.events.group_by_month(:start_time, format: "%B").count %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Guest traction by event</div>
					<div class="panel-body">
						<%= line_chart @venue.events.map { |event|
								    {name: event.title, data: event.attendances.group_by_day(:created_at, format: "%c").count}
								} %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Popular event times (external)</div>
					<div class="panel-body">
						<%= area_chart Event.unscoped.where(venue_id: @venue.id).group_by_hour(:start_time, format: "%c").count %>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-warning panel-chart">
					<div class="panel-heading">Event organizers by astrological sign</div>
					<div class="panel-body">
						<%= pie_chart @venue.organizer_profiles.group(:astrology).count %>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
