<%= set_page_title "Review #{@event.title}" %>

<div class="flex-content">
	<div class="row sheet sheet-row">

		<div class="col-md-6">

			<h2>Need a reminder?</h2>
			<h3> You attended <%= @event.title %> <%= 'on ' + @event.start_time.strftime("%B %-d, %Y") if @event.start_time %></h3>
			<p> Description: <%= @event.description %> </p>

			<% if @venue %>

				<h3>It took place at <%= @venue.name %> <br>
			    <%= @venue.description %> 
				</h3>
				<% if @venue.photos.any? %>
					<h4>Pictures of the venue:</h4>
					<div class="row">
						<%= render partial: 'photos/venue_thumbnail', collection: @venue.photos, as: :photo %>
					</div>
				<% else %>
					<h6>There are no photos of this venue to display.</h6>
				<% end %>

			<% else %>
				<h5><%= @event.user.full_name %> did not specify a venue for this event.</h5>
			<% end %>

		</div>

		<div class="col-md-offset-1 col-md-4">	

			<%= form_for @attendance, url: submit_feedback_path, method: :post do |f| %>

				<h4> How was the event? Did you enjoy <%= @event.title %>? </h4>
				<%= fields_for @event_feedback do |ef| %>
					<div class="form-group">
						<%= ef.label :content, "Leave anonymous feedback for the host" %>
						<%= ef.text_area :comment, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= ef.label :rating, "Please rate the event out of 5" %>
						<%= ef.number_field :rating, class: 'form-control' %>
					</div>
				<% end %>

				<% if @venue %>

					<h4> What about the venue? Was <%= @venue.name %> a good choice? </h4>
					<%= fields_for @venue_feedback do |vf| %>
						<div class="form-group">
							<%= vf.label :content, "Give the venue owner helpful feedback" %>
							<%= vf.text_area :comment, class: 'form-control' %>
						</div>
						<div class="form-group">
							<%= vf.label :rating, "And a rating out of 5" %>
							<%= vf.number_field :rating, class: 'form-control' %>
						</div>
					<% end %>

				<% end %>

				<%= f.submit "Submit", class: 'btn btn-primary' %>

			<% end %>
		</div>

	</div>
</div>

<div class="sheet sheet-column text-center">
	<div class="row">
		<%= link_to "I'll do this later", current_user, class: 'btn btn-warning btn-block-level' %>
	</div>
</div>
