<div class="col-sm-2 col-md-4">
  <div class="thumbnail">
    <div class="text-center">
      <h5>
        <small>Take charge</small>
      </h5>
      <p>
        <%= link_to "Create an event", new_user_event_path(@user), class: "btn btn-primary btn-sm" %>
      </p>
    </div>
  </div>
</div>
