<div class="col-sm-2 col-md-4">
  <div class="thumbnail">
    <div class="text-center">
      <h5>
        <small> Want traction? </small>
      </h5>
      <p>
        <%= link_to "List your venue", new_user_venue_path(@user), class: "btn btn-primary btn-sm" %>
      </p>
    </div>
  </div>
</div>
