<div class="col-sm-2 col-md-3">
  <div class="thumbnail">
    <% if event.venue && !event.venue.default_photo.nil? %>
      <%= image_tag (event.venue.default_photo.image_file_name_url :gallery, class: 'img-responsive') %>
    <% else %>
      <%= image_tag 'placeholder.png', class: 'img-responsive' %>
    <% end %>
    <div class="text-center">
      <h5>
        <%= link_to event.title, event_path(event.id) %> <br>
        <small> <%= event.start_time || "Date TBD" %> </small>
      </h5>
      <p>
        <%= link_to "Learn more", event_path(event.id),
                     class: "btn btn-info btn-sm" %>
      </p>
    </div>
  </div>
</div>
