<div class="col-sm-4">
  <div class="thumbnail">
    <% if !venue.default_photo.nil? %>
      <%= image_tag (venue.default_photo.image_file_name_url :gallery, class: 'img-responsive') %>
    <% else %>
      <%= image_tag 'placeholder.png', class: 'img-responsive' %>
    <% end %>
    <div class="text-center">
      <h5>
        <%= venue.name %> <br>
        <small> <%= venue.address %> </small>
      </h5>
      <p>
        <%= link_to "Learn more", user_event_preview_venue_path(current_user, @event, venue.id),
                     class: "btn btn-outline btn-warning btn-sm" %>
        <%= link_to "Update my event", user_event_select_venue_path(current_user, params[:event_id], venue.id), method: :post,
                     class: 'btn btn-outline btn-success btn-sm' %>
      </p>
    </div>
  </div>
</div>
