<div class="col-sm-2 col-md-4">
  <div class="thumbnail">
    <% if !venue.default_photo.nil? %>
      <%= image_tag (venue.default_photo.image_file_name_url :gallery, class: 'img-responsive') %>
    <% else %>
      <%= image_tag 'placeholder.png', class: 'img-responsive' %>
    <% end %>
    <div class="text-center">
      <h5>
        <%= link_to venue.name, user_venue_stats_path(params[:user_username], venue.id) %> <br>
        <small> <%= venue.address %> </small>
      </h5>
      <p>
        <%= link_to "Delete", user_venue_path(@user, venue), method: :delete, data: {confirm: "Are you sure?" }, 
                     class: "label label-sm label-danger" %>
        <%= link_to "Edit", user_venue_manage_path(@user, venue, "basics"), class: "label label-sm label-primary" %>
      </p>
    </div>
  </div>
</div>
