<div class="col-sm-2 col-md-4">
  <div class="thumbnail">
    <% if event.venue && !event.venue.default_photo.nil? %>
      <%= image_tag (event.venue.default_photo.image_file_name_url :gallery, class: 'img-responsive') %>
    <% else %>
      <%= image_tag 'placeholder.png', class: 'img-responsive' %>
    <% end %>
    <div class="text-center">
      <h5>
        <%= link_to event.title, user_event_stats_path(params[:user_username], event.id) %> <br>
        <small> <%= event.start_time.to_formatted_s(:long) if event.start_time %> </small>
        <small> <%= "Date TBD" if !event.start_time %> </small>
      </h5>
      <p>
        <%= link_to "Delete", user_event_path(@user, event), method: :delete, data: {confirm: "Are you sure?" }, 
                     class: "label label-sm label-danger" %>
        <%= link_to "Edit", user_event_manage_path(@user, event, "basics"), class: "label label-sm label-primary" %>
      </p>
    </div>
  </div>
</div>
