<div class="col-sm-2 col-md-3">
  <div class="thumbnail">
    <%= (image_tag photo.image_file_name_url :gallery, class: 'img-responsive') if photo.image_file_name? %>
    <div class="text-center">
      <p>
        <%= link_to "Delete", user_venue_remove_photo_path(current_user, @venue.id, photo.id), method: :delete,
                     class: "label label-danger" %>
        <%= link_to "Make profile", '',
                     class: "label label-primary" %>
      </p>
    </div>
  </div>
</div>
