<div class="col-sm-2 col-md-3">
  <div class="thumbnail">
    <% if !venue.default_photo.nil? %>
      <%= image_tag (venue.default_photo.image_file_name_url :gallery, class: 'img-responsive') %>
    <% else %>
      <%= image_tag 'placeholder.png', class: 'img-responsive' %>
    <% end %>
    <div class="text-center">
      <h5>
        <%= venue.name %> <br>
        <small> <%= venue.suite_no %> <%= venue.street %> </small> <br>
        <small> <%= venue.city %> </small>
      </h5>
      <p>
        <%= link_to "Learn more", venue_path(venue.id), class: "btn btn-info btn-sm" %>
      </p>
    </div>
  </div>
</div>
