<div class="col-md-4">
	<div class="thumbnail card">
		<div class="avatar">
			<%= image_tag (current_user.profile_picture) %>
			<span> <%= post.user.full_name %> </span>
			<% if post.user == @event.user %>
				<span class="glyphicon glyphicon-star" id="organizer"></span>
			<% end %>
		</div>
		<div class="caption">
			<p> <%= post.content %> </p>
		</div>
		<% if (current_user?(post.user) || current_user?(@event.user)) %>
			<%= link_to 'Delete', [@event, post], method: :delete, class: 'label label-danger pull-right', id: 'post-delete' %>
		<% end %>
	</div>
</div>

<% if @photo = post.photo %>
	<div class="col-md-4">
			<%= image_tag (@photo.image_file_name_url :gallery), class: 'img-responsive img-thumbnail' if @photo.image_file_name? %>
	</div>
<% end %>
