<div class="thumbnail">
	<%= form_for @post, url: event_posts_path(event_id: @event.id) do |f| %>
		<div class="form-group">
    	<%= f.text_area :content, required: true, class: 'form-control' %>
    </div>
	  <div class="form-group">
	  	<span class="btn btn-outline btn-sm fileinput-button pull-right">
	  		<%= f.file_field "photo", multiple: false %>
	  		<span class="glyphicon glyphicon-camera"></span>
	  	</span>
	    <%= f.submit "Post to page", class: 'btn btn-sm btn-outline' %>
	  </div>
	<% end %>
</div>
