/*=============================
=            Fonts            =
=============================*/

@mixin font-face($family, $name, $file) {
	$filepath: $family + "/" + $file;
	@font-face {
		font-family: "#{$name}";
		src: asset-url($filepath + ".eot");
		src: asset-url($filepath + ".eot?#iefix") format("embedded-opentype"),
				 asset-url($filepath + ".woff2") format("woff2"),
				 asset-url($filepath + ".woff") format("woff"),
				 asset-url($filepath + ".ttf") format("truetype"),
				 asset-url($filepath + ".svg#" + $name + "") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}

/*==========  Source Sans Pro  ==========*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
