/*=======================================
=            PlaceCard Theme            =
=======================================*/

* {
	transition: all 0.15s ease-in-out;
	font-family:  $font-family-sans-serif;
	font-size: 16px;
}
html, body {
	height:100%;
}
.wrapper {
	margin: 0 auto;
	min-height: 100%;
	display: flex;
	flex-flow: column;
	background-color: #fbfbfb;
}
.sheet {
	flex: auto;
	display: flex;
	&.sheet-column {
		flex-flow: column;
	}
	&.sheet-row {
		flex-flow: row;
	}
	&.sheet-white {
		background-color: #fff;
	}
}
.padded-container {
	width: 100%;
	padding: 60px 40px;
}
.flex-content {
	padding: 15px;
	display: flex;
	flex: 1 auto;
}
#flashes {
	position: absolute;
	margin-top: 5px;
	right: 0;
	width: 400px;
	z-index: 900;
}
#map {
	top: 0; bottom: 0; 
	width: 100%; height: 475px;
}

/*----------  Buttons  ----------*/

.btn {
	&.btn-primary {
		background-color: $brand-primary;
		color: #fff;
		border-color: transparent;
		&:hover {
			background-color: lighten($brand-primary, 5%);
			border-color: transparent;
			color: #fff;
		}
	}
	&.btn-outline {
		background-color: #fff;
		color: $gray-light;
		border: 1px solid $gray-lighter;
		border-radius: 19px;
		&.btn-default {
			border-color: #ccc;
		}
		&.btn-primary {
			border-color: $brand-primary;
			color: $brand-primary;
		}
		&.btn-info {
			border-color: $brand-info;
			color: $brand-info;
		}
		&.btn-warning {
			border-color: $brand-warning;
			color: $brand-warning;
		}
		&.btn-success {
			border-color: $brand-success;
			color: darken($brand-success, 5%);
		}
		&:hover {
			color: $gray;
			border: 1px solid $gray-light;
			background-color: #fff;
		}
	}
	&.btn-success {
		&:hover {
			background-color: darken($brand-success, 5%);
			border-color: transparent;
			color: #fff;
		}
	}
	&.btn-warning {
		color: #fff;
		border-color: transparent;
		&:hover {
			background-color: darken($brand-warning, 5%);
			border-color: transparent;
			color: #fff;
		}
	}
}

/*----------  Landing Page  ----------*/

.navbar {
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .25);
	&#placecard-nav {
		z-index: 900;
	}
	.search {
		height: 37px;
		width: 250px;
		border-radius: 18px;
		box-shadow: none;
		font-weight: 300;
	}
	.btn {
		margin-top: 12px; margin-bottom: 12px;
		padding: 5px 10px;
		margin-left: 10px;
	}
	.navbar-header {
		margin-left: -15px;
	}
}
.navbar-img {
	height: 60px;
	margin-right: -15px;
	img {
		height: 37px;
		margin: 12px;
	}
	#avatar {
		img {
			border-radius: 50%;
			border: 1px solid $gray-lighter;
		}
	}
}
.navbar-form {
	padding: 12px 15px;
	margin: 0;
}

.placecard-hero {
	background-image: image-url("bg_1.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0 60px;
	overflow: hidden;
	color: #fff;
	.hero-title {
		padding: 0px 50px;
		margin-bottom: 20px;
		font-size: 48px;
		font-weight: 700;
		color: rgba(255,255,255,0.95);
	}
	.hero-subtitle {
		padding: 0 50px;
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: 300;
		color: rgba(255, 255, 255, .8);
	}
	.hero-text {
		padding: 0 50px;
		color: rgba(255, 255, 255, .65);
		font-size: 18px;
	}
	.button-set {
		padding: 10px 50px;
	}
	#hero-search {
		margin: 30px 0 -30px;
		opacity: 0.95;
		.input-group {
			padding: 0 100px;
			#location {
				width: 75%;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			}
			#guests {
				border-left: none;
				width: 25%;
			}
			.btn-default {
				width: 120px;
				font-weight: 400;
				color: $brand-primary;
				&:hover {
					background-color: #fff;
					color: darken($brand-primary, 5%);
				}
			}
		}
	}
}

#info {
	.section-heading {
		font-weight: bold;
		color: $gray-dark;
		padding-bottom: 20px;
	}
	.panel-img {
		margin: 20px auto;
		height: 40px;
	}
}

.feature {
	padding-left: 50px;
	margin: 20px 0px; 
	.feature-icon {
		position: absolute;
		left: 20px; top: 25px;
		font-size: 30px;
		color: $brand-primary;
	}
}

#footer {
	background-color: $gray-darker;
	color: #fff;
}

.dropdown-menu {
	position: absolute;
  top: 100%;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 8px 0;
  margin: 6px 0 0;
  background-color: #fff;
  border-radius: 6px;
  border-top-right-radius: 6px;
  transform: none;
  &#feedback, &#notifications, &#account {
  	transform: scale(0.9) translate(5%, -4%);
  	&::before {
			content: '';
	    position: absolute;
	    bottom: 100%;
	    left: 100%;
	    margin-left: -20px;
	    border: 5px solid transparent;
	    border-top-width: 0;
	    border-bottom-color: #ccc;
  	}
  }
  // Links within the dropdown menu
  & > li > a {
    color: #000;
    &:hover {
    	color: $gray-light;
    	background: none;
    }
  }
}

/*----------  Sidebars  ----------*/

.sidebar {
	z-index: 0;
	padding-top: 40px;
	background-color: #fff;
	border-right: 1px solid $gray-lighter;
	display: flex;
	flex-flow: row wrap;
	li {
    border-bottom: 1px solid $gray-lighter;
  	a {
  		color: $gray-dark;
  		padding: 20px 30px;
  		&.active {
	    	background-color: #fafafa;
	    }
  	}
  }
	.nag {
		margin: 100px 10px 10px;
		text-align: center;
	}
}

/*----------  Forms  ----------*/

.form-header {
	background-color: $gray-darker;
	color: #fff;
	.page-header {
		margin: 0 0 18px;
		padding-top: 36px;
		border-bottom: none;
		h1, h2, h3, h4, h5, h6 {
			font-weight: 400;
		}
		.sub {
			font-size: 17px;
			font-weight: 200;
		}
	}
}
.form-control {
	box-shadow: none !important;
}
select.form-control {
  appearance: none;
}

#email-panel {
	height: 200px;
	overflow-y: scroll;
	margin-top: 10px;
}

/*----------  Tags  ----------*/

#tag {
	margin: 3px;
}

/*----------  Cards  ----------*/

.card {
	min-height: 140px;
}

.avatar {
	height: 60px;
	img {
		height: 37px;
		margin: 12px;
		border-radius: 50%;
		border: 1px solid $gray-lighter;
	}
}

#post-delete {
	position: absolute;
	right: 30px; top: 20px;
}
#organizer {
	margin: 5px;
	color: $brand-warning
}

/*----------  Charts  ----------*/

.panel-chart>.panel-body {
	padding: 10px;
}

/*===================================
=            Debug tools            =
===================================*/

.debug_dump {
	position: absolute;
  margin: 2rem;
  bottom: 0; left: 0; right: 0;
}

.field_with_errors > .message {
	color: red;
	font-size: 11px;
	font-weight: 400;
	float: right;
}
