<!DOCTYPE html>
<html>
	<head>
	  <%= render 'shared/head' %>
	</head>
	<body>
		<div class="wrapper">
			<%= render 'shared/navigation' %>
			<%= render 'shared/flashes', flash: flash %>
			<%= yield %>
			<!-- <%= debug(params) if Rails.env.development? %> -->
		</div>
	</body>
</html>
